/*--------------------------------------------------------------
# Search Page Results
--------------------------------------------------------------*/

.search-results {
  h1 {
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-bottom: $base_solid_border;
  }
  h2 {
    a {
      color: $color_green;
    }
  }
  .entry-summary {
    p {
      margin-bottom: 2rem;
    }
  }
  article {
    margin-bottom: 5rem;
  }
  .search-pagination {
    border-top: $base_solid_border;
    padding-top: 2rem;
    .current {
      background-color: $color__text-main;
    }
  }
  .page-numbers {
    color: #fff;
    font-family: $font_accent;
    text-transform: uppercase;
    background-color: $color_green;
    padding: .4rem .8rem;
    cursor: pointer;
    &:hover {
      background-color: $color__text-main;
    }
  }
}
