/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

#secondary {
  width: 27%;
  padding-top: 65px;
  padding-left: 50px;
  border-left: $base_solid_border;
}
